<section id="pricing-container" class="pricing">

    <div id="pricing-switch">
        <h2>Choose Your <h1>Pitch Hacker</h1> Plan</h2>
       

    </div>
    <!-- end of pricing-switch -->

    <div id="pricing-cards">

        <!-- ============================= -->
        <!-- = Premium Subscription Card = -->
        <!-- ============================= -->
        <div class="price-card">

            <div class="price-card--header">
                <h4>Silver</h4>
                <!-- <p>for growing your business</p> -->
            </div>

            <div class="price-card--price">
                <div class="price-card--price-text">
                    <div class="price-card--price-number toggle-price-content odometer" data-price-monthly="2,499" data-price-yearly="2,250">2,250</div>
                </div>
                <div class="price-card--price-conditions">
                    <div class="toggle-price-content" data-price-monthly="Billed Monthly" data-price-yearly="Billed Annually">Billed Annually</div>

                </div>
            </div>

            

            <div class="price-card--features">

                <ul class="price-card--features--list">
                    <li class="price-card--features--item has-tooltip">Sales & Marketing Platform
                        <div class="tooltip-container"><strong>Sales & Marketing Platform</strong>
                            <p  >Vendasta's end-to-end sales solution for companies that serve local businesses, and want to grow digital revenue.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Snapshot & Campaigns
                        <div class="tooltip-container"><strong>Snapshot & Campaigns</strong>
                            <p>Access to award-winning automated needs-assessment and email marketing automation. Unlimited emails sent to unlimited accounts.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Marketplace
                        <div class="tooltip-container"><strong>Marketplace</strong>
                            <p>Access to world-class resellable products & services, aimed to fulfilling the digital marketing needs of your small & medium sized business clients.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Business Center & Store
                        <div class="tooltip-container"><strong>Business Center & Store</strong>
                            <p>Portal for your local business clients, featuring your agency’s branding. They can access the products purchased from your Marketplace.</p>
                        </div>
                    </li>

                    <li class="price-card--features--item has-tooltip">Tech support
                        <div class="tooltip-container"><strong>Tech support</strong>
                            <p>Phone, Email and Web Chat support, <br/>9am-9pm EST Mon-Fri, <br/>2pm-7pm EST Sat-Sun</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Partner Success Manager
                        <div class="tooltip-container"><strong>Partner Success Manager</strong>
                            <p>One-on-one with a Vendasta Success Manager, who will provide sales training so you reach your goals quickly.</p>
                        </div>
                    </li>
                 

                </ul>
                <button class="btn">Get started</button>
            </div>

            <div class="price-card--mobile-features-toggle"></div>

        </div>
        <!-- End of Card -->

        <!-- ================================ -->
        <!-- = Enterprise Subscription Card = -->
        <!-- ================================ -->
        <div class="price-card price-card--hero">

            <div class="price-card--header">
                <h4>Bronze <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg></h4>
           
            </div>

            <div class="price-card--price">
                <div class="price-card--price-text">
                    <div class="price-card--price-number toggle-price-content odometer" data-price-monthly="999" data-price-yearly="900">900</div>
                </div>
                <div class="price-card--price-conditions">
                    <div class="toggle-price-content" data-price-monthly="Billed Monthly" data-price-yearly="Billed Annually">Billed Annually</div>
               
                </div>
            </div>

            <div class="price-card--features">
                <ul class="price-card--features--list">

                    <li class="price-card--features--item has-tooltip">Sales & Marketing Platform
                        <div class="tooltip-container"><strong>Sales & Marketing Platform</strong>
                            <p>Vendasta's end-to-end sales solution for companies that serve local businesses, and want to grow digital revenue.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Snapshot & Campaigns
                        <div class="tooltip-container"><strong>Snapshot & Campaigns</strong>
                            <p>Access to award-winning automated needs-assessment and email marketing automation. Unlimited emails sent to unlimited accounts.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Marketplace
                        <div class="tooltip-container"><strong>Marketplace</strong>
                            <p>Access to world-class resellable products & services, aimed to fulfilling the digital marketing needs of your small & medium sized business clients.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Business Center & Store
                        <div class="tooltip-container"><strong>Business Center & Store</strong>
                            <p>Portal for your local business clients, featuring your agency’s branding. They can access the products purchased from your Marketplace.</p>
                        </div>
                    </li>

                    <li class="price-card--features--item has-tooltip">Tech support
                        <div class="tooltip-container"><strong>Tech support</strong>
                            <p>Phone, Email and Web Chat support, <br/>9am-9pm EST Mon-Fri, <br/>2pm-7pm EST Sat-Sun</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Partner Success Manager
                        <div class="tooltip-container"><strong>Partner Success Manager</strong>
                            <p>One-on-one with a Vendasta Success Manager, who will provide sales training so you reach your goals quickly.</p>
                        </div>
                    </li>
                  

                </ul>
                <button class="btn-pro">Get started</button>
            </div>

            <div class="price-card--mobile-features-toggle"></div>

        </div>
     
        <div class="price-card">

            <div class="price-card--header">
                <h4>Gold <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6H426.6c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z"/></svg></h4>

            </div>

            <div class="price-card--price">
                <div class="price-card--price-text only-yearly">
                    <div class="price-card--price-number odometer">249</div>
                    <div class="only-yearly--text"><span>Only Available Yearly</span></div>
                </div>
                <div class="price-card--price-conditions">
                    <div>Billed Annually</div>

                </div>
            </div>

       

            <div class="price-card--features">
                <ul class="price-card--features--list">

                    <li class="price-card--features--item has-tooltip">Sales & Marketing Platform
                        <div class="tooltip-container"><strong>Sales & Marketing Platform</strong>
                            <p>Vendasta's end-to-end sales solution for companies that serve local businesses, and want to grow digital revenue.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Snapshot & Campaigns
                        <div class="tooltip-container"><strong>Snapshot & Campaigns</strong>
                            <p>Access to award-winning automated needs-assessment and email marketing automation. Unlimited emails sent to unlimited accounts.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Marketplace
                        <div class="tooltip-container"><strong>Marketplace</strong>
                            <p>Access to world-class resellable products & services, aimed to fulfilling the digital marketing needs of your small & medium sized business clients.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Business Center & Store
                        <div class="tooltip-container"><strong>Business Center & Store</strong>
                            <p>Portal for your local business clients, featuring your agency’s branding. They can access the products purchased from your Marketplace.</p>
                        </div>
                    </li>
                    <li class="price-card--features--item has-tooltip">Tech support (limited)
                        <div class="tooltip-container"><strong>Tech support (limited)</strong>
                            <p>Email and Web Chat support, <br/>9am-9pm EST Mon-Fri, <br/>2pm-7pm EST Sat-Sun</p>
                        </div>
                    </li>

                    <li class="price-card--features--item has-tooltip tooltip-disabled features-disabled">Partner Success Manager
                        <div class="tooltip-container"><strong>Partner Success Manager</strong>
                            <p>One-on-one with a Vendasta Success Manager, who will provide sales training so you reach your goals quickly.</p>
                        </div>
                    </li>
                  
                </ul>
                <button class="btn">Get started</button>
            </div>

            <div class="price-card--mobile-features-toggle"></div>

        </div>
        <!-- End of Card -->

    </div>
    <!--    end of pricing-cards -->


</section>